[submodule "jekyll/demos/EnterOblivion"]
	path = jekyll/demos/EnterOblivion
	url = https://github.com/Mediosyncracy/EnterOblivion.git
[submodule "jekyll/demos/jukeboxthepost"]
	path = jekyll/demos/jukeboxthepost
	url = https://github.com/rfinz/jukeboxthepost.git
[submodule "jekyll/demos/iconaquarium"]
	path = jekyll/demos/iconaquarium
	url = https://github.com/rfinz/iconaquarium.git
