<h1 class="f1">Raymond Finzel</h1>
<div>
  <div class ="db"><a class="link blue dim" href="/">&#8593; </a></div><br>
  <div class ="db"><a class="link blue dim" href="/attempts">/attempts </a></div>
  <div class ="db"><a class="link blue dim" href="/technomancy">/technomancy </a></div>
  <div class ="db"><a class="link blue dim" href="/demos">/demos </a></div>
  <div class ="db"><a class="link blue dim" href="/galleries">/galleries </a></div>
  <div class ="db"><a class="link blue dim" href="/misc">/misc </a></div>
  <div class ="db"><a class="link blue dim" href="/intouch">/intouch </a></div>
</div>
